body{
    font-size: x-large;
}


.game-container{
    display: flex;
    flex-direction: column;

}
.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.match-container{
    display: flex;
    max-width: available;
    flex-direction: column;
}
.item-match-info{
    display: flex;
    justify-content: center;
}

.map-stats-container{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    min-width: 40vw;
    border-width: .1em;
    border-color: black;
    border-style: solid;
}
.kd-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2vw;
    align-content: center;

}
.players-container{
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    background-color: rgba(21,170,14,0.26);
}
.item-kd-inner{

    flex-basis: 30%;
    flex-grow: 1;
    text-align: center;
    min-height: 5vh;
    min-width:5vw;
border-bottom: .1em solid black;
}
.item-map-info{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.item-player-pic{
    text-align: center;
    min-height: 5vh;
    min-width:5vw;
}
.map-scroll-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: scroll;
}
.average-container{
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    background-color: rgba(88, 143, 33, 0.24);

}
.item-average{
    text-align: center;
    min-height: 5vh;
    min-width:5vw;
}
.player-top-container{
    display: flex;
    flex-direction: column;

}
.item-player-top{
    text-align: center;
    min-width: 10vw;

}
.red{
    color: red;
}

.suna{
    background-color: rgba(232,184,15,0.38);
}

.kiti{
    background-color: rgba(1,0,236,0.58);
}

.maar{
    background-color: rgba(236,1,0,0.58);
}