.game-container{
    display: flex;
    flex-direction: column;

}
.stats-container{
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.match-container{
    display: flex;
    max-width: available;
    flex-direction: column;
}
.item-match-info{
    display: flex;
    justify-content: center;
}

.map-stats-container{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    min-width: 40vw;
}
.kd-container{
    display: flex;
    flex-wrap: wrap;
    margin-right: 2vw;
}
.players-container{
    display: flex;
    flex-direction: column;

}
.item-kd-inner{
    flex-basis: 30%;
    flex-grow: 1;
    text-align: center;
    min-height: 5vh;
    min-width:5vw;
}
.item-map-info{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.item-player-pic{
    text-align: center;
    min-height: 5vh;
    min-width:5vw;
}
.map-scroll-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow-x: scroll;
}
.average-container{
    display: flex;
    flex-direction: column;

}
.item-average{
    text-align: center;
    min-height: 5vh;
    min-width:5vw;
}
.player-top-container{
    display: flex;
    flex-direction: column;

}
.item-player-top{
    text-align: center;
    min-width: 10vw;

}
.red{
    color: red;
}